h1{
    font-family: sans-serif ;
    font-size: 150px;
    text-align: center;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-75%);
}
body{
    background-color: black;
}

